.App {
  text-align: center;
}
section {
  display: flex;
  justify-content: center;
}
.confirmed-card,
.death-card,
.recovered-card {
  border: 1px solid #000;
  height: 150px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 6px 7px 3px gray;
  font-style: italic;
}

.confirmed-card {
  background-color: yellow;
}
.death-card {
  background-color: red;
  color: white;
}
.recovered-card {
  background-color: green;
  color: white;
}
select {
  height: 30px;
  border: none;
  margin: 30px;
  padding: 7px 10px;
}
select option {
  font-size: 20px;
  border-bottom: 1px solid rgb(22, 22, 22);
}

header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: steelblue;
}
.form-container {
  display: flex;
  justify-content: center;
}
